In [1]:
import pandas as pd

In [3]:
df = pd.read_json("../data/totto2/filtered/train.jsonl", lines=True)

In [5]:
import json

df["table"] = df["table"].apply(lambda x: pd.DataFrame(json.loads(x)))

In [6]:
df["num_cells"] = df["highlighted_cells"].apply(lambda x: len(x))
df["num_highlighted_rows"] = df["highlighted_cells"].apply(lambda x: len(set([c[0] for c in x])))
df["num_highlighted_cols"] = df["highlighted_cells"].apply(lambda x: len(set([c[1] for c in x])))
df["num_rows"] = df["table"].apply(lambda x: len(x))
df["num_cols"] = df["table"].apply(lambda x: len(x.columns))
df["num_numeric_headers"] = df["table"].apply(lambda x: len([c for c in x.columns if c.isdigit()]))

In [7]:
df.describe()

,example_id,num_numeric_headers,num_cells,num_highlighted_rows,num_highlighted_cols,num_rows,num_cols
count,4.898800e+04,48988.000000,48988.000000,48988.000000,48988.000000,48988.000000,48988.000000
mean,-2.485981e+16,0.075447,3.656630,1.264289,3.185474,18.466686,6.538989
std,5.321565e+18,0.875694,1.526497,0.527235,1.048294,25.302718,3.428754
min,-9.223283e+18,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000
25%,-4.621831e+18,0.000000,3.000000,1.000000,2.000000,5.000000,4.000000
50%,-4.156014e+16,0.000000,3.000000,1.000000,3.000000,12.000000,5.000000
75%,4.560755e+18,0.000000,4.000000,1.000000,4.000000,23.000000,8.000000
max,9.223084e+18,30.000000,20.000000,3.000000,10.000000,1523.000000,48.000000